import(R.utils, ggplot2, gplots, reshape2, scater, scran, cluster, limma, dynamicTreeCut, Rtsne, WebGestaltR, rmdformats, SingleCellExperiment, Matrix)

export(scRNABatchQC, prepareSCRNAData, prepareSCRNADataSet, preparePCATSNEData)
